<h5>Consulta de Produtos</h5>
<p>Listagem de produtos cadastrados</p>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <td>Nome do Produto</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td>Decrição</td>
      <td>Operaçoes</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      
      <td>{{p.nome}}</td>
      <td>{{p.preco | currency: 'R$ '}}</td>
      <td>{{p.total | currency: 'R$ '}}</td>
      <td>{{p.quantidade}}</td>
      <td>{{p.descricao}}</td>
      <td>
        <button class="btn btn-sm btn-primary"
        [routerLink]="['/editar-produtos',p.idProduto]"  
        >
          Editar
        </button>
        &nbsp;
        <button class="btn btn-sm  btn-danger" (click)="excluir(p.idProduto)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de registros :{{produtos.length}}</td>
    </tr>
  </tfoot>
</table>